@font-face {
    font-family: 'Modak';
    src: url('./fonts/modak/Modak.woff2') format('woff2'),
        url('./fonts/modak/Modak.woff') format('woff'),
        url('./fonts/modak/Modak.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.titletext {
    font-size: 7vw;
    color: rgb(95, 179, 99);
    text-shadow: 2px 2px white;

    text-align: center;
    font-family: 'Modak';
    font-weight: normal;
    font-style: normal;

}

#desc > p{
    padding-top: 16px;
    padding-bottom: 16px;

    font-size: 3vh;
}

.togglebars{
    height: max-content;
}

hr.dotted {
    border-top: 3px dotted #bbb;
}

.blocklyDiv{
    min-height: 400px;
}
.canvas{
    min-height: 400px;
}